<footer class="{{ params.color }} px-4 py-8 flex flex-col md:flex-row md:items-center items-baseline mt-12">
<h2 class="dsari nysds-text-22 text-black ml-8 md:ml-16 mr-4 border-solid border-b border-black md:border-none pr-16 md:pr-0"><a href="{{ params.link }}" aria-label="{{ params.arialabel }}" class="">{{ params.agencyname }}</a></h2>
<span class="hidden md:block md:border-solid md:border-l-2 md:border-black md:py-2 md:ml-2 md:mr-4">&nbsp;</span>
{% for item in params.items %}
<a href="{{ item.link }}" aria-label="{{ item.arialabel }}" class="font-bold hover:underline ml-8 py-2 md:ml-0 md:px-3"> {{ item.text }} </a>
{% endfor %}

</footer>